[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
mysqlclient = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"
flake8 = "*"
black = "*"
pytest-cov = "*"
djangorestframework = "*"
requests = "*"
pytz = "*"
django-rich = "*"
rich = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
